.box-opcoes{
    min-height: 220px;
    background-color: #f9f9ff;
    text-align: center;
    padding: 15px;    
    margin: 10px 0;   
    overflow: hidden;
}

.box-opcoes i{
    color: #4c7f00;
}

.box-opcoes h1{
    color: #4c7f00;
    font-size: 25px;
    font-weight: bold;
}

.box-opcoes h2{
    color: #838580;
    font-size: 16px;
    font-weight: normal;
}

.box-opcoes a{
    position: absolute;
    color: #fff;  
    bottom: 20px;     
    width: 100px;
    
}

#menu{
    background-color: #4c7f00;    
}

.nav-link, .navbar-collapse a{
    color: #fff !important;   
}

.nav-link, .navbar-collapse a:hover{
    color: #39ff14 !important;
}

#carousel-fotos{
    height: 500px;
    overflow: hidden;    
}


